nav.menu-navbar {
  width: 100%;
  height: 70px !important;
  background-color: white !important;
  position: fixed !important;
  top: 0;
}

.navbar.menu-navbar {
  padding: 0;
  z-index: 2;
  padding-right: 100px !important;
}
.menu-navbar .navbar-brand:hover {
  color: black !important;
}

#navbarSupportedContent {
  background-color: white !important;
}

.menu-navbar .navbar-brand {
  color: black !important;
  padding: 0 20px;
}

.menu-navbar .nav-link {
  color: black !important;
}

.menu-navbar .nav-link:hover {
  color: var(--primary-red) !important;
}

.menu-navbar .nav-item {
  padding-bottom: 0px;
  padding-top: 0px;
}

.menu-navbar .navbar-toggler {
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;

  width: 50px;
  height: 40px;
}

.menu-navbar .burger-line {
  background: black;
}

.menu-navbar #btn-sign-in {
  color: white !important;
  background-color: var(--primary-red) !important;
}

@media screen and (max-width: 991px) {
  .menu-navbar.navbar {
    padding-right: 0px;
  }

  #navbarSupportedContent {
    padding-bottom: 20px;
  }
}
